#noah{
  font-family: monospace;
  color: black;
  min-height: 50%;
  font-size: 140pt;
  background-color: white;
  text-align: left;
  position: relative;
  bottom: 0;
  
}

#rodelius{
  font-family: monospace;
  color: white;
  min-height: 50%;
  font-size: 140pt;
  background-color: black;
  text-align: left;
  position: relative;
  margin-top: 0;
  
}

body, html, #noah {
  height: 50%;
}

body, html, #rodelius {
  height: 50%;
}
