#noah{
  font-family: monospace;
  color: black;
  font-size: 140pt;
  background-color: white;
  text-align: left;
  position: relative;
  margin-bottom: 0;
  
}

#rodelius{
  font-family: monospace;
  color: white;
  font-size: 140pt;
  background-color: black;
  text-align: left;
  position: relative;
  margin-top: 0;
  
}

#info{
  height: 20%; 
  font-size: 12pt;
  color: white;
  background-color: #ff0000;
  position: relative;
  margin-top: 50%;
  margin-bottom: 0;
  padding: 5%;
  
}
