#noah{
  font-family: monospace;
  color: black;
  min-height: 50%;
  font-size: 48pt;
  background-color: white;
  
}

#rodelius{
  font-family: monospace;
  color: white;
  min-height: 50%;
  font-size: 48pt;
  background-color: black;

}
