.slide{
  min-height: 100%;
  min-width: 100%;
}

#one{
  background-color: #009A00;
}

#two{
  background-color: #FFFFFF;
  text-align: center;
}

#three{
  background-color: #000000;
  text-align: center;
}
