#slide1{
  background-color: #21DC00;
  min-height: 100%;
  min-width: 100%;
}

#slide2{
  background-color: white;
  min-height: 100%;
  min-width: 100%;
}

#slide3{
  background-color: black;
  min-height: 100%;
  min-width: 100%;
}
